.login__container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 430px;
    margin: 195px  auto auto;
    background: black;
    color: white;

}

@media screen and (max-width:540px) {
    .popup__container {
        margin-top: 123px;
        width: 282px;
    }
}