.popup__heading {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 36px 55px 36px;
}

@media screen and (max-width:540px) {
    .popup__heading {
        font-size: 18px;
        line-height: 22px;
        margin: 25px 22px 45px 22px;
    }
}